@charset "UTF-8";

@font-face {
  font-family: "chowe";
  src:url("fonts/chowe.eot");
  src:url("fonts/chowe.eot?#iefix") format("embedded-opentype"),
    url("fonts/chowe.woff") format("woff"),
    url("fonts/chowe.ttf") format("truetype"),
    url("fonts/chowe.svg#chowe") format("svg");
  font-weight: normal;
  font-style: normal;

}

[data-icon]:before {
  font-family: "chowe" !important;
  content: attr(data-icon);
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

[class^="icon-"]:before,
[class*=" icon-"]:before {
  font-family: "chowe" !important;
  font-style: normal !important;
  font-weight: normal !important;
  font-variant: normal !important;
  text-transform: none !important;
  speak: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-facebook:before {
  content: "\61";
}
.icon-instagram:before {
  content: "\62";
}
.icon-whatsapp:before {
  content: "\63";
}
.icon-youtube:before {
  content: "\64";
}
.icon-mail:before {
  content: "\65";
}
.icon-mail1:before {
  content: "\66";
}
.icon-mail-read:before {
  content: "\67";
}
.icon-phone:before {
  content: "\68";
}
.icon-motorcycle:before {
  content: "\69";
}
.icon-bicycle:before {
  content: "\6a";
}
.icon-clock:before {
  content: "\6b";
}
.icon-arrow-down:before {
  content: "\6c";
}
.icon-arrow-left:before {
  content: "\6d";
}
.icon-arrow-right:before {
  content: "\6e";
}
.icon-arrow-up:before {
  content: "\6f";
}
.icon-left-open-mini:before {
  content: "\70";
}
.icon-left-open-big:before {
  content: "\71";
}
.icon-right-open:before {
  content: "\72";
}
.icon-right-open-big:before {
  content: "\73";
}
.icon-down-open-big:before {
  content: "\74";
}
.icon-down-open-mini:before {
  content: "\75";
}
.icon-up-open-big:before {
  content: "\76";
}
.icon-up-open-mini:before {
  content: "\77";
}
.icon-up:before {
  content: "\78";
}
.icon-up-bold:before {
  content: "\79";
}
.icon-up-circled:before {
  content: "\7a";
}
.icon-fast-forward:before {
  content: "\41";
}
.icon-forward:before {
  content: "\42";
}
.icon-fast-backward:before {
  content: "\43";
}
.icon-left:before {
  content: "\44";
}
.icon-left-bold:before {
  content: "\45";
}
.icon-left-circled:before {
  content: "\46";
}
.icon-left-open:before {
  content: "\47";
}
.icon-arrow-up-1:before {
  content: "\48";
}
.icon-arrow-circle-down:before {
  content: "\49";
}
.icon-arrow-circle-o-down:before {
  content: "\4a";
}
.icon-down-open:before {
  content: "\4b";
}
.icon-cube:before {
  content: "\4c";
}
.icon-archive:before {
  content: "\4d";
}
.icon-bars:before {
  content: "\4e";
}
.icon-chevron-circle-down:before {
  content: "\4f";
}
.icon-caret-down:before {
  content: "\50";
}
.icon-menu:before {
  content: "\51";
}
.icon-arrow-circle-left:before {
  content: "\52";
}
.icon-arrow-circle-o-left:before {
  content: "\53";
}
.icon-arrow-circle-o-right:before {
  content: "\54";
}
.icon-arrow-circle-o-up:before {
  content: "\55";
}
.icon-arrow-circle-right:before {
  content: "\56";
}
.icon-arrow-circle-up:before {
  content: "\57";
}
