.Titulo{
    font-size: 8rem;
    line-height: 8rem;
    font-family: 'Playfair Display SC', serif;
}

.body-First-Tittle{
    font-size: 12rem;
    line-height: 12rem;	
}

.header-imagen {
    position: absolute;
    height: 18rem;
    width: 18rem;
    top: -.5rem;
    left: 6rem; 
}

.body-Second-Par{
    margin-bottom: 2rem;
    font-size: 3rem;
}


.body-Third-Par span{
    display: inline-block;
    visibility: visible;      
    margin-top: 2rem;
    text-align: center;    
}

.body-Second-Content, .body-Third-Content{
    margin-bottom: 4rem;
}

.body-Second-Description {
    width: 40%;
    margin-right: 0;
    margin-top: -35rem;
    justify-content: center;
    align-items: center;
}

.img-list-element {
    height: 8rem;
    width: 12rem;
    border-radius: 15%;
}

#esconderTexto{
    padding: 2rem 0;
}

.body-Fifth-Par {
    margin: 2rem;
    padding: 0 0 3.5rem;
}

.espacio{
    padding: 2rem 0;
}

.body-sixth-Wrapper{
    padding-inline: 8rem;
}

.Footer-Container {
    padding-top: 5rem;
}

.Siguenos {
    text-shadow: 3px -2px whitesmoke;
}