
.Titulo{
    font-size: 5rem;
    text-align: center;
    line-height: 6rem;
}

.Subtitulo {
    font-size: 2.5rem;
    text-align: center;
    margin-inline: 2rem;
}

.Parrafo{
	font-size: 2rem;
    text-align: center;
}

.header-imagen {
    position: absolute;
    height: 13rem;
    width: 13rem;
    top: -2rem;
    left: 0;
    z-index: 110;
}

.menu-icon {
    visibility: hidden;    
}

.navBar {
    color: white;
    z-index: 100;
    visibility: visible;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background: transparent;
    top: 2rem;  
    padding-left: 15rem;
    padding-right: 4rem;
    font-size: larger;
    font-weight: bolder;
    text-shadow: 1px 1px var(--yellowChowe);
}

.navBar span{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-inline: 1rem;
    border-bottom: 2px solid transparent;
	padding-top: 1rem;	
}

.navBar span:hover{
    color: var(--yellowChowe);
}

.nav-item{
    color: var(--white);
    text-decoration: none;
    padding:0;
    margin:0;  
}

.nav-item:hover{
    color: var(--yellowChowe);
    cursor: pointer;
}

.body-First-Tittle{
	font-family: 'Playfair Display SC', serif;
    font-size: 8rem;
    text-align: center;
    margin-top: 7rem;
    line-height: 9rem;    
}

.body-First-Par {
    margin-inline-end: initial;
    color: var(--white);
}

.Button {
    width: 23rem;
    padding: 1rem;  
}

.body-First-Button{
    font-size: 3rem;
}

#arrowUp {
    font-size: 5rem;
}

.Menu-Option {
    width: 12.5rem;
    font-size: 2.3rem;
}

.food-List {
    flex-wrap: wrap;
    flex-direction: row;
}

.food-List_element {
    width: 48%;
}

.img-list-element {
    position: absolute;
    height: 7rem;
    width: 7rem;
    border-radius: 50%;
    padding: 0.5rem;
    top: 0.5rem;
    left: 0.5rem;
}

.List-element-one {
    padding: 0.5rem;
    margin-right: 0.5rem;
	margin-left: 8rem;
}

.Forth-Media {
    min-width: 35rem;
    max-width: 40rem;
    height: 38rem;

}

.Forth-Media-img {
    width: 19rem;
    height: 15rem;
}

img.body-Fifth-Img {
    width: 35rem;
    height: 20rem;
}

.info-contact{    
	font-size: 2.3rem;
    
}

.info-contact, h2, a{
	font-size: 2rem;
    text-decoration: none;
}

.campo-texto{	
	width: 80vh;
}

.form_text {
    font-size: 2.2rem;
}